<!DOCTYPE html>

<html>

<head>
    <script src="js/vue.js" type="text/javascript"></script>
</head>

<body>
    <div id="app">
        {{a}}

        <div v-bind:class="colorStyle">
            I am colored.
        </div>

        <div>
            <p v-if="seen">Can you see me?</p>
        </div>
        <!-- v-bind:class -->
        <div v-bind:class="[isActive?active:'']">
            This is a test for class binding.
        </div>
        <!-- v-show -->
        <h1 v-show="ok">Test for v-show</h1>


        <!-- v-on -->
        <div>
            <button v-on:click="greet">Click me!</button>
            <button v-on:click="sayHello('Hey you!',$event)">say</button>
        </div>



        <!-- component -->
        <button-counter title="title1 :"></button-counter>
        <button-counter title="title2 :"></button-counter>

        <test></test>

        <!-- v-text -->
        <h2>v-text</h2>
        <div v-text="msg">
        </div>
        <!-- v-html -->
        <h2>v-html</h2>
        <div v-html="htmlString">
        </div>
        <!-- v-pre -->
        <h2>v-pre</h2>
        <div v-pre>
            {{msg}}
        </div>
        <!-- v-once -->
        <h2>v-once</h2>
        <span v-once>
            {{once}}
        </span>
        <!-- v-on -->
        <h2>v-on</h2>
        <input type="button" value="increse the number" @click="increaseNumber('v-on usage',$event)" /><br>
        number: {{num}}
        <!-- .stop -->
        <h3>.stop</h3>
        <div @click="click1">
            <div @click.stop="click2">
                Click me!
            </div>
        </div>
        <!-- .prevent -->
        <h3>.prevent</h3>
        <div>
            <a href="https://www.google.com/" @click.prevent="">Google</a>
        </div>
        <!-- .keyup -->
        <h3>.keyup</h3>
        <div>
            <input type="text" @keyup.delete="deleteMsg=''" v-model="deleteMsg" />
            <span v-cloak>Press Delete: {{deleteMsg}}</span>
        </div>
        <!-- cutomized -->
        <h3>customized keyCode</h3>
        <div>
            Try to Press A here:
            <input type="text" @keyup.a="pressA" />
        </div>

        <!-- 
            v-bind
            * v-bind:class
                - object/array {active:isActive,error:isError}  [active?'isActive':'notActive']   ['isActive',{error:isError}]
            
            * v-bind:style
        -->
        <div>
            <h2>v-bind</h2>
            <span v-bind:class="[isRed?'redColor':'blueColor',{size:isSmall}]">What is the color?</span>
            <input type="button" value="Change Color" @click="changeColor" />

            <h3>Use v-on and v-bind to realize binding</h3>
            <input type="text" v-bind:value="bindMsg" v-on:input="handleBind" /><br>
            <span v-text="bindMsg"></span>

            <div v-bind:style="newStyle">
            </div>

        </div>

        <!-- 
            v-model
            *modifier
                - .number
                - .trim
                - .lazy eg: verify your accout when lose focus in input
        -->
        <h2>v-model</h2>
        <textarea v-model="text1"></textarea>
        <span> {{text1}}</span>

        <div>
            <input type="checkbox" id="apple" value="Apple" v-model="checkName">
            <label for="apple">Apple</label>
            <input type="checkbox" id="banana" value="Banana" v-model="checkName">
            <label for="banana">Banana</label>
            <input type="checkbox" id="watermelon" value="Watermelon" v-model="checkName">
            <label for="watermelon">Watermelon</label>

            <span>{{checkName}}</span>
        </div>



        <!-- v-show -->
        <h2>v-show</h2>
        <div :style="newStyle" v-show="showGreen">

        </div>
        <input type="button" value="click me!" @click="showGreen = !showGreen" />

        <!-- 
            v-if
            v-else-if
            v-else  
        -->
        <h2>v-if</h2>
        <div>
            Enter your score here:
            <input type="text" @keyup.enter="score=$event.target.value" /><br>
            The Result:
            <span v-if="score >= 80 && score <= 100">Good</span>
            <span v-else-if="score < 80 && score >= 60">Passed</span>
            <span v-else-if="score < 60 && score >= 0">Failed</span>
            <span v-else>Please write the correct score.</span>
        </div>

        <!-- v-for -->
        <!-- NOTE: here item before index -->
        <h2>v-for</h2>
        <ul>
            <li v-for="item,index in items" :key="index">
                {{index}} : {{item.message}}
            </li>
        </ul>
        <ul>
            <li v-for="key,value in books" :key="key">
                {{key}} : {{value}}
            </li>
        </ul>
        <h3>traversal (value,key,index)</h3>
        <p v-for="(value,key,index) in books">{{key + '---' + value + '---' + index}}</p>
        <!-- v-if + v-for -->
        <h3>v-if + v-for</h3>
        <p v-for="(value,key,index) in books" v-if="key=='author'">{{key + '---' + value + '---' + index}}</p>



        <!-- custom directive -->
        <h2>Custom Directives</h2>
        <div v-color="msgColor">My color is ...?</div>


        <!-- watch -->
        <h2>watch</h2>
        <div>
            用户名：<input type="text" v-model.lazy="account" />
            <span>{{tip}}</span>
        </div>

        <!-- 
            filter
            *filter with arguments
         -->
        <h2>filter</h2>
        <div>
            The first letter is in upper case:
            <input type="text" v-model="filterValue" />
            <span>{{ filterValue | upper }}</span>
            <span>{{ date | format('filter-','-argument')}}</span>
        </div>






    </div>
    <script>
        // 全局注册
        Vue.component('button-counter', {
            props: ['title'],
            data: function () {
                return {
                    counter: 0,
                }
            },
            template: '<button v-on:click=" clickFun"> {{title}} You clicked me : {{counter}} times.</button>',
            methods: {
                clickFun: function () {
                    this.counter++;
                }
            }
        });

        Vue.filter("format", function (val, arg1, arg2) {
            console.log(arg1 + arg2);
            var ret = '';
            ret += val.getFullYear() + "-" + (val.getMonth() + 1) + "-" + val.getDate();
            return ret;
        });

        Vue.config.keyCodes.a = 65;
        var vm = new Vue({
            el: '#app',
            data: {
                a: "Hello, World!",
                colorStyle: 'redd',
                seen: false,
                msg: "v-text practice here",
                htmlString: "<p style='color:red'>Test for v-html.</p>",
                once: "how to use v-once",
                active: "active",
                isActive: true,
                ok: true,
                items: [
                    { message: "apple" },
                    { message: "banana" },
                    { message: "watermelon" }
                ],
                books: {
                    author: 'moyan',
                    book: 'wa',
                    nationality: 'China'
                },
                text1: "",
                checkName: [],
                num: 0,
                deleteMsg: '',
                isRed: true,
                isSmall: true,
                bindMsg: "BindingBinding",
                newStyle: {
                    border: '1px solid red',
                    width: '100px',
                    height: '100px',
                    backgroundColor: 'lightgreen',
                },
                showGreen: false,
                score: -1,
                aNumber: 0,
                msgColor: {
                    color: 'green',
                },
                account: '',
                tip: '',
                filterValue: '',
                date: new Date(),

            },
            methods: {
                click1: function () {
                    console.log("this is click1 function");
                },
                click2: function () {
                    console.log("this is click2 function");
                },
                greet: function () {
                    alert(this.a);
                },
                sayHello: function (str, e) {
                    alert(str);
                    console.log(e);
                },
                increaseNumber: function (message, event) {
                    console.log(message);
                    console.log(event.target.tagName);
                    this.num++;
                },
                pressA: function () {
                    alert("You just pressed A.");
                },
                handleBind: function () {
                    console.log("Use v-on and v-bind to realize data binding.");
                    this.bindMsg = event.target.value;
                },
                changeColor: function () {
                    this.isRed = !this.isRed;
                    this.isSmall = !this.isSmall;
                },
                accountMonitor: function (newAccount) {

                    this.tip = "verifying the account name";
                    var that = this;
                    setTimeout(function () {
                        if (newAccount == "admin") {
                            that.tip = "the account has been used";
                        } else if (newAccount == "") {
                            that.tip = "the account name cannot be empty";
                        }
                        else {
                            that.tip = "you can use this account name";
                        }

                    }, 2000);
                },

            },
            directives: {
                color: {
                    bind: function (el, binding) {
                        el.style.backgroundColor = binding.value.color;
                    }
                }

            },
            components: {
                test: {
                    template: '<h1>This is h1</h1>'
                },
            },
            filters: {
                upper: function (val) {
                    return val.charAt(0).toUpperCase() + val.slice(1);
                },

            },
            watch: {
                account: function (val) {
                    this.accountMonitor(val);
                }

            },

            // Vue life cycle
            //initialization
            beforeCreate: function () {
                console.log("beforeCreate");

            },
            created: function () {
                console.log("created");
            },
            beforeMount: function () {
                console.log("beforeMount");
            },
            mounted: function () {
                console.log("mounted");
            },
            //update element or component
            beforeUpdate: function () {
                console.log("beforeUpdated");
            },
            updated: function () {
                console.log("updated");
            },
            beforeDestroy: function () {
                console.log("beforeDestroy");
            },
            destroyed: function () {
                console.log("destroyed");
            },
        });

        vm.a = "Tomorrow is another day!";

        //此行之后才开始起作用
        vm.$watch('a', function (newVal, oldVal) {
            console.log(newVal, oldVal);
        });

        vm.$data.a = "test test test";

        setTimeout(function () { vm.a = "lalalalalalala" }, 2000);


    </script>

    <style type="text/css">
        .redd {
            color: yellow;
        }

        .active {
            color: red;
        }

        .redColor {
            color: red;
        }

        .blueColor {
            color: blue;
        }

        .size {
            font-size: small;
        }
    </style>


</body>

</html>